{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Menu</h1>
<!--Begin col-->
<div class="column">
    <!-- Step 14: Create for loop -->

    <div>
        {% for item in menu %}
        <div>
            <h3 style="color: coral;">
                <a href="{% url 'item_description' pk=item.pk %}">
                    {{item.name}}
                </a>
            </h3>
        </div>

        <div>
            <h4 style="color: cadetblue;">${{item.price}}</h4>
        </div>

        {% endfor %}
    </div>

    <!-- <p> -->

    <!-- Step 14: Add DTL variable for name -->

    <!-- <span class="menu-price"> -->
    <!-- Step 14: Add DTL variable for price -->

    <!-- ${{item.price}}.00 -->
    <!-- </span> -->
    <!-- </p>
     -->
    <!-- Step 14: End or loop -->
</div>
<!--End col-->
{% endblock %}